* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: rgba(185, 163, 190, 0.363);
}
.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 5px 0px rgba(84, 37, 94, 0.75);
}

.header {
  display: flex;
  align-items: center;
}

.profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: fill;
}
.info {
  padding: 2rem;
}
.github-info {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
.individual-info {
  padding: 0 0.5rem;
  text-align: center;
}
.nav button {
  text-transform: capitalize;
  padding: 0.25rem 0.4rem;
  border: none;
  padding-bottom: 1rem;
}

.nav {
  border-bottom: solid;
  border-width: 1px;
  border-color: rgba(117, 116, 116, 0.521);
}

.nav-item:hover {
  color: rgb(101, 97, 104);
  transition: all 0.1s linear;
}

.active {
  border-bottom: solid !important;
  border-width: 1px !important;
}

.about {
  padding: 1rem;
}

.about li {
  list-style-type: none;
  margin: 0 1rem;
  font-size: smaller;
}

.about p {
  font-size: smaller;
}

.points {
  margin: 0.5rem 0 0.5rem 0;
  padding: 0.25rem 0 0.25rem 1rem;
  border: solid;
  border-width: 1px;
  border-radius: 0.25rem;
  border-color: rgba(0, 0, 0, 0.486);
  box-shadow: 2px 2px 5px 0px rgba(161, 101, 173, 0.308);
}
.points h4 {
  text-transform: uppercase;
  font-weight: normal;
}

.desc {
  font-size: medium;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.social,
.programming {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.social-icon {
  margin: 1.5rem 0;
  font-size: 2rem;
}

.social-info {
  text-align: center;
  color: rgb(70, 69, 70);
}

.programming {
  justify-items: center;
}

.programming-icon {
  margin: 1.5rem 0;
  font-size: 2rem;
  color: rgb(70, 69, 70);
}
